
$fontColor: #41cfff;

@keyframes loading {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(90deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}
  100% {transform: rotate(360deg);}
}


html body {
  .loading-container {
    overflow: hidden;    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 99vh;
    .loading {    
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: 3s infinite loading;        
      .dot {
        margin: 0 1.5rem;
        background-color: $fontColor;
        height: 2.2rem;
        width: 2.2rem;
        border-radius: 50%;
        box-shadow: 0 0 30px $fontColor;
      }
    }
  }

}