$fontColor: #41cfff;

html body {
  position: relative;
  #back-to-top {
    position: sticky;    
    bottom: 10px;
    margin: 0 1rem 0 auto;
    width: min-content;
    display: block;    
    background-color: rgba(0,0,0,0.8);
    button {
      border: 1px solid $fontColor;
      border-radius: 0.6rem;
      padding: 1.5rem;
      color: $fontColor;
      background-color: transparent;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }
}